body {
    font-family: Arial;
    margin: 10px;
}
.header{
    text-align: center;
    background-color: aquamarine;
    padding: 2px;
    margin-bottom: 10px;
    
}
.dashboard {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}

.card {
    border: 1px solid black;
    padding: 1px 30px;
    width: 300px;
    text-align: center;
}

.card p {
    font-size: 20px;
}

.task-header {
    display: flex;
    justify-content:end;
    padding: 2px;
}

.form-container {
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
}

#taskForm {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input,select,button {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: separate;
}
th{
    background-color: gray;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

button {
    cursor: pointer;
}

.edit {
    margin-right: 5px;
}

search{
    display: flex;
    justify-content:flex-start;
    gap: 75px;
}